body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #009245, #fcee21);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  perspective: 10000px;
}

.circle,
.line {
  width: 260px;
  height: 260px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.circle {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  animation: spinn 6s infinite linear;
}

.line {
  display: block;
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
}

.line:nth-child(1) {
  transform: rotateX(36deg);
}
.line:nth-child(2) {
  transform: rotateX(72deg);
}
.line:nth-child(3) {
  transform: rotateX(108deg);
}
.line:nth-child(4) {
  transform: rotateX(144deg);
}

@keyframes spinn {
  100% {
    transform: rotateY(360deg) rotateZ(360deg);
  }
}
